page-add-events {
    sms {

$monitor-card: #F3F7F8;
.sms{
  background-color: $monitor-card;
}

.fundinho-sms{
  background-color: #ccc;
}
.subir{
  margin-top: -4px;
}

.testClassToast {
    text-align:center;
}
}
}
